{
    debug
    auto_https off
    admin off
}

127.0.0.1:80 {
    route /auth* {
        auth_portal {
            path /auth
            backends {
                generic_oauth2_backend {
                    method oauth2
                    realm generic
                    provider generic
                    base_auth_url https://gitlab.com
                    metadata_url https://gitlab.com/.well-known/openid-configuration
                    client_id secret
                    client_secret secret
                    scopes openid email profile
                }
            }
            jwt {
                token_name access_token
                token_secret 0e2fdcf8-6868-41a7-884b-7308795fc286
            }
        }
    }

    route / {
        jwt {
            primary yes
            trusted_tokens {
                static_secret {
                    token_name access_token
                    token_secret 0e2fdcf8-6868-41a7-884b-7308795fc286
                }
            }
            auth_url /auth
            allow roles anonymous guest everyone
        }
        file_server {
            root /var/lib/html/
        }
        header Cache-Control max-age=0
    }
}
